<launch>
    <param name="robot_description" command="$(find xacro)/xacro $(find diff_description)/urdf/robot.xacro"/>

    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
        <param name="use_gui" value="False"/>
    </node>
     <!-- Combine joint values -->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>

    <node name="rviz" type="rviz" pkg="rviz" args="$(find diff_description)/urdf/robot.xacro -d $(find diff_rtab)/rviz/config.rviz" />
</launch>