<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <!-- Arguments -->
    <arg name="set_base_frame" default="link_chassis"/>
    <arg name="set_odom_frame" default="diff_robot/odom"/>
    <arg name="set_map_frame"  default="map"/>
    <arg name="set_scan_topic" default="/diff_robot/laser/scan"/>
    <arg name="visualize" default="True"/>
    <arg name="config_viz" default="$(find diff_navigation)/rviz/config_rviz.rviz" />
    <arg name="world" default="$(find diff_description)/worlds/obstacle_1"/>
    <arg name="x" default="0"/>>
    <arg name="y" default="0"/>
    <arg name="z" default="0.5"/>

    <param name="robot_description" command="$(find xacro)/xacro '$(find diff_description)/urdf/robot.xacro'"/>


    <!-- Rviz -->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>
    <group if="$(arg visualize)" >
        <node  name="rviz_visualize" type="rviz" pkg="rviz" args="-d $(arg config_viz)"/>
    </group>

    <!-- Gazebo -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch" >
        <arg name="world_name" value="$(arg world)"/>
    </include>
    <node name="urdf_spawner" type="spawn_model" pkg="gazebo_ros" args="-urdf -param robot_description -model robot_model -x $(arg x) -y $(arg y) -z $(arg z)" />
  
    <!-- Gmapping -->
    <node pkg="gmapping" type="slam_gmapping" name="diff_robot_slam_gmapping" output="screen">
      <param name="base_frame" value="$(arg set_base_frame)"/>
      <param name="odom_frame" value="$(arg set_odom_frame)"/>
      <param name="map_frame"  value="$(arg set_map_frame)"/>
      <param name ="map_update_interval" value ="2.0"/>
      <param name ="maxUrange" value="3.0" />
      <remap from="scan" to="$(arg set_scan_topic)"/>
      <rosparam command='load' file="$(find diff_navigation)/params/gmapping_params.yaml" />
    </node>
  </launch>